@media only screen and (max-device-width: 480px) {
.main{
		width: 100%;
	}
.d2{
	width: 400px;
	height: 150px;
}
a{
	font-size: 54px;
}
.image{
	position: absolute;
	top: 15%;
	left: 5.416667%;
	height: 100%;
	width: 60%;
}
.image1{
	position: absolute;
	right: 15%;
	top:25%;
	height: 50%;
	width: 15%;
}
.round {
  width: 7%;
  height: 7%;
  border: 2px solid red;
  border-radius: 50%;
  opacity: 0.7;
  background: mistyrose;
  position: absolute;
  top: 18%;
  left: 17%;
}
.text-in-circle{
	position: absolute;
	top:23%;
	left:19%;
}
}
@media only screen and (max-device-width: 768px) {
.main{
		width: 100%;
	}
.d2{
	width: 350px;
	height: 150px;
}
a{
	font-size: 54px;
}
.image{
	position: absolute;
	top: 15%;
	left: 5.416667%;
	height: 100%;
	width: 60%;
}
.image1{
	position: absolute;
	right: 15%;
	top:25%;
	height: 50%;
	width: 15%;
}
.round {
  width: 15%;
  height: 15%;
  border: 2px solid red;
  border-radius: 50%;
  opacity: 0.7;
  background: mistyrose;
  position: absolute;
  top: 18%;
  left: 17%;
}
.text-in-circle{
	position: absolute;
	top:5%;
	left:19%;
}
@media only screen and (max-device-width: 1024px) {
.main{
		width: 100%;
	}
.d2{
	width: 40%;
	height: 10%;
}
a{
	font-size: 54px;
}
.image{
	position: absolute;
	top: 15%;
	left: 5.416667%;
	height: 100%;
	width: 60%;
}
.image1{
	position: absolute;
	right: 15%;
	top:25%;
	height: 50%;
	width: 15%;
}
.round {
  width: 15%;
  height: 15%;
  border: 2px solid red;
  border-radius: 50%;
  opacity: 0.7;
  background: mistyrose;
  position: absolute;
  top: 18%;
  left: 17%;
}
.text-in-circle{
	position: absolute;
	top:5%;
	left:19%;
}
}