body{
	
	background: #181818;
}
.main{
	margin: 0px auto;
	width: 75%;
	background: gray;
	border-top-left-radius: 2.604167%;
	border-top-right-radius: 2.604167%;
	border-bottom-right-radius: 2.604167%;
	border-bottom-left-radius: 2.604167%;
}
.content{
	margin-left: 20%;
	margin-right: 20%;
}
#top{
	height: 200px;
	position: relative;
}
.image{
	position: absolute;
	top: 5.416667%;
	left: 10.416667%;
	height: 100%;
	width: 50%;
}
.image1{
	position: absolute;
	right: 20%;
	top:25%;
	height: 50%;
	width: 15%;
}
.d2 
{
  display:inline-block;
width: 20%;
  color: #808080;
  height: 2.5em;
  line-height: 2.5em;
margin: 10px 0px 50px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #808080;
  color: white;

  border: 0.104167% solid #808080;
  border-radius: 0.260417%;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #808080;
  background: linear-gradient(#ffffff, #808080 48%, #808080 52%, #ffffff);
}
.d2:active 
{
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
#images-bottom{
	margin-left: 15%;
	margin-right: 10%;
}
.images{
	width: 49%;
	height: 75%;
}
.footer{
	height: 100px;
	background: black;
	position: relative;
}
.infoname{
	position: absolute;
	top: 0%;
	left: 2%;
	color: white;
}
.infomail{
	position: absolute;
	bottom:0%;
	right: 2%;
	color: white;
}
.honda-image{
	height: 100%;
	width: 100%;
	position: relative;
}
.round {
  width: 20%;
  height: 20%;
  border: 2px solid red;
  border-radius: 50%;
  opacity: 0.7;
  background: mistyrose;
  position: absolute;
  top: 18%;
  left: 17%;
}
.text-circle{
	position: relative;
}
.text-in-circle{
	position: absolute;
	top:23%;
	left:23%;
}